# BasedOnStyle: WebKit
# IndentWidth: 4
#
# AccessModifierOffset: -4
#
# AlignAfterOpenBracket: Align
# AlignConsecutiveDeclarations: Consecutive
# AlignConsecutiveAssignments: Consecutive
# AlignConsecutiveMacros: Consecutive
# AlignOperands: AlignAfterOperator
# AllowShortBlocksOnASingleLine: Always
# AllowShortFunctionsOnASingleLine: Inline
#
# BreakBeforeBraces: Allman
#
# ColumnLimit: 80
---
BasedOnStyle: WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'true'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
ColumnLimit: '100'
CompactNamespaces: 'false'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: 'true'

...
